* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #34495E;
    max-width: 100%;
}

nav {
    display: flex;
    justify-content: center;

}

nav button {
    margin: 10px 50px;
    border: 2px solid white;
    color: white;
    background: none;
    padding: 5px 15px;
    font-size: 15px;
}

h1 {
    margin: 50px 0 60px;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 228px);
    gap: 38px 50px;
    justify-content: center;
}

.container .item {
    border: 2px solid black;
    max-width: 228px;
}

.item img {
    margin: 18px 64px;
}

.item p {
    text-align: center;
    font-size: 15px;
    margin: 5px;
}

.item button {
    margin: 11px auto;
    border: 2px solid #34495E;
    padding: 5px 25px;
    font-size: 15px;
    color: #34495E;
    background: none;
    display: block;

}

footer {
    max-width: 100%;
    background: #34495E;
    color: white;
    font-size: 15px;
    margin-top: 84px;
    padding: 12px;
}

.end {
    display: flex;
    justify-content: space-between;
    max-width: 786px;
    margin: auto;
}

@media (max-width: 785px) {
    .container {
        grid-template-columns: repeat(2, 228px);
    }
    .end{
        max-width: 507px;
    }
}

@media (max-width: 515px) {
    .container{
        grid-template-columns: repeat(1, 228px);
    }
    .end{
        max-width: 228px;
    }
}