*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(159, 219, 245);
}
button{
    background: black;
    color: white;
    padding: 10px;
    font-size: 15px;
    border: 3px solid white;

}
#user-info{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
}

#cat-images{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#cat-images img {
    width: 300px; 
    height: 300px; 
    padding: 20px;
}

#joke-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: 20px;
}
#joke-container p.ba-dum-tss {
    color: red;
    font-size: 20px;
}

#bitcoin-rate{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 20px;
}

#quote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 20px;
}


